{% extends 'base.html.twig' %}

{% block title %}RentC Reservations{% endblock %}

{% block body %}
    <h1>Reservations</h1>
    <div style="text-align: right;">
        <a href="{{ path('reservation_new') }}" class="btn btn-primary" style="margin-bottom: 10px; ">Add a new reservation</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.startDate ? reservation.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.endDate ? reservation.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.location }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}" class="btn btn-dark">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
