{% extends 'base.html.twig' %}

{% block title %}RentC Customers{% endblock %}

{% block body %}
        {% if customers %}
            <table id="customers" class="table table-striped">
                <thead>
                <tr>
                    <th>Customer</th>
                    <th>Birth Date</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.birthDate|date('Y-m-d') }}</td>
                        <td>{{ customer.location }}</td>
                        <td style="text-align:right; width:145px;">
                            <a href="/customers/edit/{{ customer.id }}" class="btn btn-dark">Edit</a>
                            <a href="#" class="btn btn-danger delete-customer" data-id="{{ customer.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="jumbotron">
                <h4>No customers to display.</h4>
                <a href="/customers/add" class="btn btn-primary">Add a customer</a>
            </div>
        {% endif %}
{% endblock %}